.card {
    border: 5px solid #07c5fa;
    padding: 20px;
    margin: 10px;

    .btn-delete {
        background-color: #af0303;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        border: 3px solid black;
    }
}